<footer class="footer">
  <small>
    <address>Copyright(C)2016 D.ATSUMI,Allright Reserved.</address>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>